.newPost__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 125px;
    padding: 15px 40px;
    border-radius: 5px;
}

.newPost__header {
    font-family: "Lobster";
    font-size: 1.85em;
    color: rgb(185, 140, 0);
    padding-bottom: 5px;
}

#dateForm.text {
    text-indent: -10px;
}

.nsfw {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: -10px 40% -7px 40%;
}

.nsfw__box {
    max-width: fit-content;
    margin-right: 0.5rem;
    justify-content: left;
}

.textform-control {
    width: 25em;
    padding: .30rem 0;
    font-size: 1rem;
    font-weight: 900;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 1rem;
    color: rgba(23, 23, 23, 1);
    text-indent: 1.1rem;
    margin-bottom: 0;
}

.newPost__fileUpload.input:invalid+span::after {
    content: "✖";
}

.newPost__fileUpload.input:valid+span::after {
    content: "✓";
}