.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    /* border-bottom: 2px solid rgb(185, 140, 0) */
}

.navbar__item {
    list-style-type: none;
}

.logo__small {
    max-width: 40%;
    margin-bottom: -12px;
}

.navbar__tagline {
    font-family: 'Playfair Display';
    text-align: left;
    text-indent: 10px;
    font-weight: 600;
    font-size: 115%;
    color: rgba(217, 217, 217, 1);
}

.navbar__group-left {
    display: flex;
    flex-flow: column nowrap;
    align-items: last baseline;
}

.navbar__group-right {
    display: flex;
    flex-flow: row nowrap;
    padding-right: 20px;
    align-items: last baseline;
}

.newPost__icon {
    margin-right: 5px;
}

.navbar__profileIcon {
    border: 2px solid rgb(185, 140, 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

ul.navbar {
    padding: 5px 10px;
    background-color: rgb(23, 23, 23);
}